<section class="vh-100 gradient-custom">
    <div class="container py-5 h-50">
      <div class="row d-flex justify-content-left align-items-left h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card bg-dark text-white" style="border-radius: 1rem;">
            <div class="card-body p-4 text-left">
              <div class="mb-md-5 mt-md-4 pb-5">
                <h2 class="fw-bold mb-2 text-uppercase">Admin <i class="fa-solid fa-user"></i></h2>
                  <div class="form-outline form-white mb-4"></div>
                  
                  <button class="btn btn-outline-light btn-lg px-5" value="Admin" routerLink="/adminlogin">Login</button>
                  <div>
                 </div>
              </div></div></div></div>
<div class="container py-5 h-50">
<div class="row d-flex justify-content-right align-items-right h-100">
 <div class="col-12 col-md-8 col-lg-6 col-xl-5">
<div class="card bg-dark text-white" style="border-radius: 1rem;">
<div class="card-body p-4 text-right">
<div class="mb-md-5 mt-md-4 pb-5">
<h2 class="fw-bold mb-2 text-uppercase">User <i class="fa-solid fa-users"></i></h2>
<div class="form-outline form-white mb-4"></div>

<button class="btn btn-outline-light btn-lg px-5" value="User" routerLink="/login">Login</button>
<div>
</div></div></div></div></div></div>