
<section class="vh-500 gradient-custom">
    <div class="container p-3 -100"> 
 
 <div class="topnav">
   <button class="btn bg-dark text-white"  routerLink="/login" >LogOut </button>
   <button class="btn bg-dark text-white" (click)="upgrade()">Upgrade</button>
   <img class="btn btn-primary dropdown-toggle custom " type="button" id="dropdown" data-bs-toggle="dropdown" aria-expanded="false" [src]="user.pic" height ="51px" width="69px" />
   <!-- </button> -->
   <ul class="dropdown-menu" aria-labelledby="dropdown">
     <li><p> Welcome, <span>{{user.name}}</span> </li>
     <li><a class="dropdown-item" routerLink="/update/{{username}}">Edit Profile</a></li>
     <li><a class="dropdown-item" (click)="delAcount()">Delete Account</a></li>
     <li><a class="dropdown-item" (click)="feedback()">Feedback</a></li>
   </ul>
 </div>
   <div style="background-color: white ; border-radius: 1cm;  ">
    <div  id="home" *ngFor="let article of articles">  
     <!--  -->
    <h1> {{article.title}} </h1>
    <h3> {{article.author}}</h3>
    <p><img style="border-radius: .5cm; " [src]="article.urlToImage" width="200px"> </p>
    <p> {{article.description}}</p> <!--<div *ngIf="change"> -->
    <p> <a [href]="article.url" target="_blank"> read more </a> </p>
</div>